.card img {
  width: 100%;
  height: 90vh;
  position: relative;
}
.card button {
  background-color: rgb(17, 0, 255);
  color: white;
  right: 30%;
  bottom: 100px;
  position: absolute;
  padding: 20px;
  width: 20%;
  border-radius: 10px;
}
.card button:hover {
  background-color: rgb(57, 57, 148);
  color: rgb(10, 249, 6);
}
