<div class="container">
  <div class="blurred">
    <div class="card">
      <p>
        Quick Delivery At <br />your
        <span style="color: rgb(255, 0, 183)">DoorStep</span>
      </p>
      <p>You Order We Delivery</p>
      <button routerLink="/auth/registration">Get Started</button>
    </div>
  </div>
</div>
<div class="services">
  <div>
    <div class="top">
      <h1 routerLink="/service">Services</h1>
      <p>belew are some of the services we offef to our customer</p>
    </div>
    <div class="service-main">
      <div class="food-D">
        <h3>food</h3>
        <img
          src="https://images.unsplash.com/photo-1598346762291-aee88549193f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          alt=""
        />
        <p>
          we offer food and aother releted services <br />
          according to th varoius route destination ie if <br />
        </p>
      </div>
      <div class="pets-D">
        <h3>pets</h3>
        <img
          src="https://images.unsplash.com/photo-1623387641168-d9803ddd3f35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          alt=""
        />
        <p>
          we offer food and aother releted services <br />
          according to th varoius route destination ie if <br />
        </p>
      </div>
      <div class="materials-D">
        <h3>good</h3>
        <img
          src="https://images.unsplash.com/photo-1598346762291-aee88549193f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          alt=""
        />
        <p>
          we offer food and aother releted services <br />
          according to th varoius route destination ie if <br />
        </p>
      </div>
    </div>
  </div>
</div>
<Section footer>
  <app-google-map></app-google-map>
  <div class="top">
    <h1 routerLink="/service">About us</h1>
    <p>belew are some of the services we offef to our customer</p>
  </div>
  <div class="footer-top">
    <div class="class-1">
      <h1>Company</h1>
      <p>About us</p>
      <p>Carrier</p>
      <p>We are hiring</p>
      <p>Blog</p>
    </div>
    <div class="class-2">
      <h1>Legal</h1>
      <p>About us</p>
      <p>Carrier</p>
      <p>We are hiring</p>
      <p>Blog</p>
    </div>
    <div class="class-3">
      <h1>Feature</h1>
      <p>Business Marketing</p>
      <p>User Analytic</p>
      <p>Live Chat</p>
      <p>Unlimited Support</p>
    </div>
    <div class="class-4">
      <h1>Resource</h1>
      <p>ios & Andriod</p>
      <p>Watch a Demo</p>
      <p>Customers</p>
      <p>API</p>
    </div>
    <div class="class-5">
      <h1>Get in Touch</h1>
      <p><i class="fa-solid fa-phone"></i> (480) 555-0103</p>
      <p><i class="fa-solid fa-location-dot"></i> 4517 Washington Ave</p>
      <p><i class="fa-solid fa-envelope"></i> debra.holt@example</p>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom-left">
      <p>Made With love by Figmaland All Right Reserved</p>
    </div>
    <div class="footer-bottom-right">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram-square"></i>
      <i class="fa-brands fa-twitter"></i>
    </div>
  </div>
</Section>
