.container {
  display: flex;
  // align-items: center;

  // background-color: red;
  // height: 20vh;
}
.navbar {
  width: 100%;
  // background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  gap: 2rem;
}
.list {
  text-align: center;

  list-style: none;
  display: flex;
  gap: 3rem;
}
.logo {
  color: rgb(247, 3, 182);
  font-style: oblique;
}
li a {
  text-decoration: none;
  // color: rgb(247, 3, 182);
}
