<div class="container">
  <div class="navbar">
    <div class="logo">
      <h3>SendIT</h3>
      <fa-icon [icon]="faTruck"></fa-icon>
    </div>
    <div class="right">
      <ul class="list">
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/auth/Login"
            routerLinkActive="active"
            *ngIf="!authService.isLogedIn()"
            >Login</a
          >
        </li>
        <!-- <li><a routerLink="/auth/registration">Sign Up</a></li> -->
        <li>
          <a routerLink="/service" routerLinkActive="active">About Us </a>
        </li>
        <li>
          <a (click)="authService.logout()" *ngIf="authService.isLogedIn()"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
