.container {
  display: flex;
  // align-items: center;

  // background-color: red;
  // height: 20vh;
}
.navbar {
  width: 100%;
  // background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  gap: 2rem;
}
.list {
  text-align: center;

  list-style: none;
  display: flex;
  gap: 3rem;
}
.logo {
  // color: rgb(247, 3, 182);
  font-style: oblique;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 2px;
}
.logo i {
  color: red;
}
.logo h3 {
  color: transparent;
  font-style: oblique;
  background-image: linear-gradient(90deg, red, blue);
  background-clip: text;
}
li a {
  text-decoration: none;
  // color: rgb(247, 3, 182);
}
@media screen and (max-device-width: 640px) {
  .container {
    width: 400px;
    // height: 600px;
    color: black;
    display: flex;
  }
  .navbar {
    display: block;
  }
  .logo {
    align-items: center;
    justify-content: center;
  }
}
