.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  // background-color: rgb(170, 192, 235);
}
img {
  width: 400px;
  height: 420px;
  flex-basis: 1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
form {
  flex-basis: 1;
  width: 400px;
  height: 420px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: aqua;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
}
.form-group {
  margin: 10px;
  flex-direction: column;
  display: grid;
}
form h3 {
  width: 100%;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 4px;

  color: black;
}
form input {
  padding: 8px 10px !important;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(235, 244, 245);
}
form button {
  padding: 15px 40px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin: 20px;
}
form button:hover {
  background-color: aliceblue;
  color: rgb(155, 202, 234);
}
.error {
  color: red;
}
@media screen and (max-width: 450px) {
  .form {
    min-width: auto;
  }
  .card {
    display: grid;
  }
  img {
    border-radius: 8px;
    margin: 5px;
  }
  form {
    border-radius: 8px;
    margin: 5px;
  }
}

//  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
