<div class="wrapper">
  <div class="sidebar">
    <img
      src="https://images.unsplash.com/photo-1548280684-8c051518e195?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHByb2ZpbGUlMjBwaG90b3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
      alt=""
    />
    <h1>Admin</h1>
    <button appHover (click)="goTousers()">users</button>
    <button appHover (click)="goToViewOrder()">Parcels</button>
    <!-- <button appHover (click)="goToAddOdrder()">status</button> -->
    <button class="btn btn-success" appHover (click)="goToStatus()">
      addParcel
    </button>
  </div>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
