<div>
  <h1>parcels...</h1>
  <div class="search">
    <input
      class="filter"
      type="text"
      [(ngModel)]="filterText"
      placeholder="Search ..."
    />
    <!-- <p>{{ listFilter }}</p> -->
  </div>
  <table>
    <tr>
      <th>parcelId</th>
      <th>Uname</th>
      <th>Pname</th>
      <th>weight</th>
      <th>destination</th>
      <th>price</th>
      <th>status</th>
      <th>datetime</th>
      <th></th>
      <th></th>
    </tr>
    <ng-container *ngIf="parcels$ | async as parcels">
      <!-- {{ parcels$ }} -->
      <tr *ngFor="let parcel of parcels | search: filterText">
        <!-- <td>{{ order.id }}</td> -->
        <td>
          {{ parcel.parcelId.substring(0, 4) }}...{{
            parcel.parcelId.split("").splice(-4).join("")
          }}
        </td>
        <td>{{ parcel.uname }}</td>
        <td>{{ parcel.pname }}</td>
        <td>{{ parcel.weight }}</td>
        <td>{{ parcel.destination }}</td>
        <td>{{ parcel.price }}</td>
        <td>
          <span *ngIf="parcel.status == 'pending'">Pending</span>
          <span *ngIf="parcel.status == 'delivered'">delivered</span>
        </td>
        <td>{{ parcel.datetime }}</td>
        <td>
          <input
            type="checkbox"
            class="updates"
            (click)="status(parcel.parcelId)"
          />
        </td>
        <td>
          <button (click)="deleteParcel(parcel.parcelId)" class="delete">
            Delete
          </button>
        </td>
      </tr>
    </ng-container>
  </table>
</div>
