table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  align-self: flex-start;
  width: 50%;
  align-self: auto;
}
th {
  color: rgb(255, 0, 153);
  padding: 10px;
}
td {
  // border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  // background-color: #dddddd;
}
.update {
  background-color: yellow;
  padding: 10px 15px;
  border: none;
  outline: none;
  color: rgb(4, 0, 255);
  border-radius: 10px;
}
.delete {
  background-color: red;
  padding: 10px 15px;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
}
.search input {
  margin: 10px;
  background-color: rgb(210, 220, 220);
  border: none;
  padding: 10px;
  border-radius: 10px;
}
span status delivered {
  color: rgb(255, 0, 230);
}
span status de {
  color: cyan;
}
